<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092788065466-15dshhnfqhchqva1n71ba9vpu77013er.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092788065466-15dshhnfqhchqva1n71ba9vpu77013er</string>
	<key>API_KEY</key>
	<string>AIzaSyBWzWhc4AmUqdr5p5fqSHgRhkxl0AD9Us4</string>
	<key>GCM_SENDER_ID</key>
	<string>1092788065466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.paseadorMascotas</string>
	<key>PROJECT_ID</key>
	<string>proyecto-paseando-mascotas1</string>
	<key>STORAGE_BUCKET</key>
	<string>proyecto-paseando-mascotas1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092788065466:ios:12fc23a310eb5a441a5e83</string>
</dict>
</plist>